.testimonial-card-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 0px;
}

.testimonial-card-testimonial-card {
    gap: var(--dl-space-space-twounits);
    width: 58%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    justify-content: center;
  }
  .testimonial-card-stars {
    width: 116px;
    height: 19px;
  }
  .testimonial-card-content {
    color: rgba(0, 8, 66, 1);
    height: auto;
    font-size: 24px;
    align-self: stretch;
    font-style: Bold;
    text-align: center;
    font-weight: 700;
    line-height: 139.9999976158142%;
    font-stretch: normal;
    text-decoration: none;
  }
  .testimonial-card-avatar {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  .testimonial-card-avatar-image {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: var(--dl-radius-radius-round);
  }
  .testimonial-card-avatar-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .testimonial-card-avatar-name {
    color: rgba(0, 8, 66, 1);
    height: auto;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 600px;
    line-height: 150%;
    font-stretch: normal;
    letter-spacing: 0em;
  }
  .testimonial-card-avatar-company {
    color: rgba(0, 8, 66, 1);
    height: auto;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-weight: 400px;
    line-height: 150%;
    font-stretch: normal;
    letter-spacing: 0em;
  }

  @media (max-width: 991px) {
    .testimonial-card-testimonial-card {
      width: 100%;
    }
  }
  @media (max-width: 479px) {
    .testimonial-card-testimonial-card {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .testimonial-card-avatar {
      flex-direction: column;
    }
  }